{% extends 'base.html' %}

{% block content %}
<div class="container-xxl flex-grow-1 container-p-y">
  <div class="row">
    <div class="col-lg-12 mb-4 order-0">
      <div class="card">
        <div class="d-flex align-items-end row">
          <div class="col-sm-7">
            <div class="card-body">
              <h5 class="card-title text-primary">
                Hasil Analisis 🎉
              </h5>
              <p class="mb-4">
                Di hasil Ini Kita Mengenal Hasil Analisis Dari Kedua Algoritman Melalui Word Cloud dan Pie Chart dari
                KNN dan SVM
              </p>
            </div>
          </div>
          <div class="col-sm-5 text-center text-sm-left">
            <div class="card-body pb-0 px-0 px-md-4">
              <img src="{{url_for('static', filename='assets/img/illustrations/man-with-laptop-light.png')}}"
                height="140" alt="View Badge User"
                data-app-dark-img="{{url_for('static', filename='assets/img/illustrations/man-with-laptop-dark.png')}}"
                data-app-light-img="{{url_for('static', filename='assets/img/illustrations/man-with-laptop-light.png')}}" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Order Statistics -->
    <div class="col-md-6 col-lg-6 col-xl-6 order-0 mb-4">
      <div class="card h-100">
        <div class="card-header d-flex align-items-center justify-content-between pb-0">
          <div class="card-title mb-0">
            <h5 class="m-0 me-2">Hasil Sentiment Analisis KNN</h5>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <!-- Wordcloud Card -->
            <div class="col-md-6 col-12">

              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">Wordcloud</h5>
                </div>
                <div class="card-body">
                  {% if hasil_knn %}
                  <img src="{{ url_for('static', filename='image/knn/wordcloud.png') }}" alt="Word Cloud" width="100%">
                  {% else %}
                  <p>Hasil KNN belum tersedia.</p>
                  {% endif %}
                </div>
              </div>
            </div>

            <!-- Pie Chart Card -->
            <div class="col-md-6 col-12">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">Pie Chart</h5>
                </div>
                <div class="card-body">
                  {% if hasil_knn %}
                  <img src="{{ url_for('static', filename='image/knn/pie_chart.png') }}" alt="Pie Chart" width="100%">
                  {% else %}
                  <p>Hasil KNN belum tersedia.</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <br>
          <!-- Tampilkan metrik evaluasi dari KNN jika tersedia -->
          {% if hasil_knn %}
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Accuracy</th>
                  <th>Precision</th>
                  <th>Recall</th>
                  <th>F1 Score</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{ accuracy_knn }}</td>
                  <td>{{ precision_knn }}</td>
                  <td>{{ recall_knn }}</td>
                  <td>{{ f1_knn }}</td>
                </tr>
              </tbody>
            </table>
          </div>
          {% endif %}

          {% if hasil_knn %}
          <div class="table-responsive">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>Judul</th>
                  <th>Sentimen</th>
                </tr>
              </thead>
              <tbody>
                {% for result in hasil_knn %}
                <tr>
                  <td>{{ result.title }}</td>
                  <td>{{ result.sentiment }}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          {% else %}
          <p>Hasil KNN belum tersedia.</p>
          {% endif %}
        </div>

      </div>
    </div>
    <!--/ Order Statistics -->
    <!-- Expense Overview -->
    <div class="col-md-6 col-lg-6 col-xl-6 order-0 mb-4">
      <div class="card h-100">
        <div class="card-header d-flex align-items-center justify-content-between pb-0">
          <div class="card-title mb-0">
            <h5 class="m-0 me-2">Hasil Sentiment Analisis SVM</h5>
          </div>
        </div>
        <div class="container">
          <div class="row">

            <div class="col-md-6 col-12">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">Wordcloud</h5>
                </div>
                <div class="card-body">
                  <!-- Display the Word Cloud -->
                  {% if hasil_svm %}
                  <img src="{{ url_for('static', filename='image/svm/wordcloud_svm.png') }}" alt="Word Cloud"
                    width="100%">
                  {% else %}
                  <p>Hasil SVM belum tersedia.</p>
                  {% endif %}
                </div>
              </div>
            </div>

            <!-- Pie Chart Card -->
            <div class="col-md-6 col-12">
              <div class="card">
                <div class="card-header">
                  <h5 class="card-title">Pie Chart</h5>
                </div>
                <div class="card-body">
                  <!-- Display the Pie Chart -->
                  {% if hasil_svm %}
                  <img src="{{ url_for('static', filename='image/svm/pie_chart_svm.png') }}" alt="Pie Chart"
                    width="100%">
                  {% else %}
                  <p>Hasil SVM belum tersedia.</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
            <br>
            <!-- Tampilkan metrik evaluasi dari SVM jika tersedia -->
            {% if hasil_svm %}
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Accuracy</th>
                    <th>Precision</th>
                    <th>Recall</th>
                    <th>F1 Score</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{ accuracy_svm }}</td>
                    <td>{{ precision_svm }}</td>
                    <td>{{ recall_svm }}</td>
                    <td>{{ f1_svm }}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            {% endif %}

            <!-- Tampilkan hasil dari SVM jika tersedia -->
            {% if hasil_svm %}
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>Judul</th>
                    <th>Sentimen</th>
                  </tr>
                </thead>
                <tbody>
                  {% for result in hasil_svm %}
                  <tr>
                    <td>{{ result.title }}</td>
                    <td>{{ result.sentiment }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% else %}
            <p>Hasil SVM belum tersedia.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endblock %}